
body {
	font-family: 'VT323', monospace;
	letter-spacing: 3px;
	font-size: 100%;

/*Creates starry background*/
background-color:black;
background-image:
radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
/**************************/
}

.navbar {
	border-top: 15px dashed purple;
}

.img-fluid {
	height: auto;
}

h1 {
	font-family: 'VT323', monospace;
	color: green;
	font-size: 10vw;
	text-shadow: 5px 5px purple;
	border-bottom: none;
}

p {
	color: white;
	font-size: 3vw;
	word-wrap: break-word;
}

#word, span {
	color: green;
	font-size: 9vw;
	text-align: center;
	font-style: bold;
	
}

li {
	display: inline;
	color: white;
	font-size: 3vw;
}

#solved {

	font-size: 5vw;
	font-family: 'VT323', monospace;

}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}


button {
	margin-bottom: 100px;
	padding: 10px;
	background: #D4AF37;
	color: #000;
	font-family: 'VT323', monospace;
	font-weight: bolder;
	font-size: 3vw;
}

button:hover {
	background: #996515;
}

.btn:active
.btn:target {
	background: #D4AF37;
}

#slot {
	float: left;
	height: 100px;
	width: 10px;
	background: #000;
	border-radius: 10%;
}